*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 50vw;
  height: 100vh;
  margin: auto;
  position: center;
  perspective: 150px;
  background-color: aqua;
  transform-style: preserve-3d;
}
.front,.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   backface-visibility: hidden;  
  -webkit-backface-visibility: hidden;
}
.front {
  z-index: 20;
}
.yungeen {
  max-width: 100%;
  object-fit: cover;
}
.yungeen {
height: 100%;
width: 100%;
}
.OG {
  max-width: 100%;
  object-fit: cover;
}
.OG {
    height: 100%;
    width: 100%;
    }
.container:hover .front {
  transform: rotateY(180deg);
}
